<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- Single line Ejs Start-->
    <h1>Hello form EJS to <%= user %></h1>
    <form action="/todo/add" method="post">
        <input type="text" name="data">
        <button>Submit</button>
    </form>
</body>
</html>