<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Note: when we changes in view file server reload but our data not refresh but when change other files such as controllers, routes etc so data refresh -->
    <div>
        <ul>
            <% for(let i = 0; i < todos.length; i++){ %>
                <li><input type="checkbox" name=""><%= todos[i].name %></li>
            <% } %>
        </ul>
    </div>
    <script src="myjs.js"></script>
</body>
</html>